@model List<BARBARES_SistemaWeb.Utils.Select.InventarioAlmacen>

@{
    ViewBag.Title = "Almacenes - Inventario";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="masthead">
        <h3 class="text-muted">
            <img class="img-thumbnail img-responsive" src="~/images/botella-cabecera.jpg" alt="Barabares">Barabares - Sistema Administrador</h3>
        <ul class="nav nav-justified">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Personas", "Index", "Persona")</li>
            <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
            <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
            <li class="active">@Html.ActionLink("Logística", "Index", "Almacen")</li>
            <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
            <li>@Html.ActionLink("Administración", "Index", "Usuario")</li>
        </ul>
    </div>
    <p></p>
    <p></p>
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p>
                En esta sección se muestran todos los inventarios registrados en el sistema.
            </p>
        </div>
    </div>
}

<h3>Opciones</h3>
<hr class="divider" />

<div class="btn-group btn-opciones">
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
        Editar Stock
    </button>
    <!-- Button trigger modal -->
    <button class="btn btn-default" data-toggle="modal" data-target="#myModal">
        Agregar Stock
    </button>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Stock</h4>
            </div>
            <div class="modal-body">
                <div class="container-modal">
                    <div class="row">
                        <div class="col-xs-3 col-md-offset-0">
                            <i class="glyphicon glyphicon-align-justify"></i>
                            <label for="codigo">Código:</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="number" class="form-control" id="codigo" value="1" disabled>
                        </div>
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-check"></i>
                            <label for="nomb">Nombre:</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="text" class="form-control" id="nomb" value="Pilsen" disabled>
                        </div>
                    </div>
                </div>
                <div class="container-modal">
                    <div class="row">
                        <div class="col-xs-3 col-md-offset-0">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <label for="stock">Cantidad:</label>
                        </div>
                        <div class="col-xs-3">
                            <input type="number" class="form-control" id="stock">
                        </div>
                        <div class="col-xs-3">
                            <i class="glyphicon glyphicon-list-alt"></i>
                            <label for="almac">Almacén:</label>
                        </div>
                        <div class="col-xs-3">
                            <select class="form-control" id="almac">
                                <option>La Molina1</option>
                                <option>Ate 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-success">Guardar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
</div>

<h3>Filtros</h3>
<hr class="divider" />
@using (Html.BeginForm("List_Almacen", "Inventario", FormMethod.Post))
{
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-align-justify"></i>
            <label for="nombre">Nombre:</label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-list-alt"></i>
            <label for="almacen">Almacén:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="almacen" name="almacen">
                <option value="0"></option>
                @foreach (var t in ViewBag.Almacen)
                {
                    <option value="@t.IdAlmacen">@t.Descripcion</option>            
                }
            </select>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-list-alt"></i>
            <label for="unidad">Unidad:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="unidad" name="unidad">
                <option value="0"></option>
                @foreach (var t in ViewBag.UnidadProducto)
                {
                    <option value="@t.IdUnidadProducto">@t.Unidad</option>            
                }
            </select>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-barcode"></i>
            <label for="presentacion">Presentación:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="presentacion" name="presentacion">
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="desde">Desde:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="desde" name="desde" required>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="hasta">Hasta:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="hasta" name="hasta" required>
        </div>
    </div>
</div>

<div class="container-buttons">
    <p>
        <button type="submit" class="btn btn-primary">Buscar &raquo;</button>
    </p>
</div>

<table class="table table-hover table-bordered responsive-utilities">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Tipo</th>
            <th>Fecha Vencimiento</th>
            <th>Unidad</th>
            <th>Presentación</th>
            <th>Precio</th>
            <th>Estado</th>
            <th>Almacén</th>            
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdProducto</td>
                <td>@p.Nombre</td>
                <td>@p.Descripcion</td>
                <td>@p.Tipo</td>
                <td>@p.FechaVencimiento</td>
                <td>@p.Unidad</td>
                <td>@p.Presentacion</td>                
                <td>@p.Precio</td>
                 @if (p.Activo == true)
                {
                    <td>Activo</td>
                }
                else{
                    <td>Inactivo</td>
                }
                <td>@p.Almacen</td>
                <td>@p.Stock</td>
            </tr>            
        }
    </tbody>
</table>
}
