@model List<BARBARES_SistemaWeb.Utils.Select.ComprobantePago>

@{
    ViewBag.Title = "Comprobantes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="masthead">
        <h3 class="text-muted">
            <img class="img-thumbnail img-responsive" src="~/images/botella-cabecera.jpg" alt="Barabares">Barabares - Sistema Administrador</h3>
        <ul class="nav nav-justified">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Personas", "Index", "Persona")</li>
            <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
            <li class="active">@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
            <li>@Html.ActionLink("Logística", "Index", "Almacen")</li>
            <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
            <li>@Html.ActionLink("Administración", "Index", "Usuario")</li>
        </ul>
    </div>
    <p></p>
    <p></p>
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p>
                En esta sección se muestran todos los comprobantes de pago ingresados en el sistema. Para visualizarlos dar click en el botón "Detalle" del registro correspondiente en la parte inferior.
            </p>
        </div>
    </div>
}

<h3>Filtros</h3>
<hr class="divider" />
@using (Html.BeginForm("List", "ComprobantePago", FormMethod.Post))
{
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-align-justify"></i>
            <label for="nombre">Nombres:</label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="nombre" name="nombre">
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-align-justify"></i>
            <label for="appat">Apellido Paterno:</label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="appat" name="appat">
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-list-alt"></i>
            <label for="tipoDoc">Tipo Documento:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="tipoDoc" name="tipoDoc">
                <option value="0"></option>
                @foreach (var t in ViewBag.TipoDocumento)
                {
                    <option value="@t.IdTipoDocumento">@t.Nombre</option>            
                }
            </select>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-credit-card"></i>
            <label for="nroDoc">Nro. Documento:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="nroDoc" name="nroDoc">
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-credit-card"></i>
            <label for="nroCom">Nro. Comprobante:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="nroCom" name="nroCom">
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-envelope"></i>
            <label for="tipo">Tipo:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="tipo" name="tipo">
                <option value="0"></option>
                @foreach (var t in ViewBag.TipoComprobante)
                {
                    <option value="@t.IdTipoComprobante">@t.Nombre</option>            
                }
            </select>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="desde">Desde:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="desde" name="desde" required>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="hasta">Hasta:</label>
        </div>
        <div class="col-xs-3"> 
            <input type="date" class="form-control" id="hasta" name="hasta" required>
        </div>
    </div>
</div>

<div class="container-buttons">
    <p>
        <button type="submit" class="btn btn-primary">Buscar &raquo;</button>
    </p>
</div>


<table class="table table-hover table-bordered responsive-utilities">
    <thead>
        <tr>
            <th>#</th>
            <th>Número</th>
            <th>Cliente</th>
            <th>Documento</th>
            <th>Moneda</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Tipo</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
       @foreach (var p in Model)
        {
            <tr>
                <td>@p.IdComprobante</td>
                <td>@p.Numero</td>
                <td>@p.Cliente</td>
                <td>@p.Documento</td>
                <td>@p.Moneda</td>
                <td>@p.Total</td>
                <td>@p.Fecha</td>
                <td>@p.Tipo</td>
                <td><a class="btn btn-xs btn-success" role="button" href="~/ComprobantePago/Details">Detalle &raquo;</a></td>
            </tr>            
        }
    </tbody>
</table>
}
