@model BARBARES_SistemaWeb.Models.DetalleMovimiento

@{
    ViewBag.Title = "Movimientos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="masthead">
        <h3 class="text-muted">
            <img class="img-thumbnail img-responsive" src="~/images/botella-cabecera.jpg" alt="Barabares">Barabares - Sistema Administrador</h3>
        <ul class="nav nav-justified">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Personas", "Index", "Persona")</li>
            <li>@Html.ActionLink("Productos", "Index", "Producto")</li>
            <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
            <li class="active">@Html.ActionLink("Logística", "Index", "Almacen")</li>
            <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
            <li>@Html.ActionLink("Administración", "Index", "Usuario")</li>
        </ul>
    </div>
    <p></p>
    <p></p>
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p>
                Detalle del registro seleccionado.
            </p>
        </div>
    </div>
}

<h3>Datos del movimiento</h3>
<hr class="divider" />

<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-align-justify"></i>
            <label for="cliente">Código:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="cliente" value="12345" disabled>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-align-justify"></i>
            <label for="direc">Tipo:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="tipo" disabled>
                <option>Traslado</option>
                <option>Ingreso</option>
                <option>Venta</option>
                <option>Merma</option>
                <option>Vencimiento</option>
            </select>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="creacion">Fecha Creación:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="creacion" disabled>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="entrega">Fecha Fin:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="entrega" disabled>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-tower"></i>
            <label for="almacen">Almacén:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="almacen" disabled>
                <option>La Molina1</option>
                <option>Ate 1</option>
            </select>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-user"></i>
            <label for="total">Usuario:</label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="total" value="yromero" disabled>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-shopping-cart"></i>
            <label for="cuanto">Vehículo:</label>
        </div>
        <div class="col-xs-3">
            <input type="text" class="form-control" id="cuanto" value="A1T040" disabled>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-list-alt"></i>
            <label for="vuelto">Pedido:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="vuelto" value="123" disabled>
        </div>
    </div>
</div>

<h3>Productos</h3>
<hr class="divider" />

<table class="table table-hover table-bordered responsive-utilities">
    <thead>
        <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Perecible</th>
            <th>Precio</th>
            <th>Cantidad</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Pilsen</td>
            <td>Cerveza Pilsen</td>
            <td>Sí</td>
            <td>S/. 5.00</td>
            <td>1</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Cristal</td>
            <td>Cerveza Cristal</td>
            <td>Sí</td>
            <td>S/. 5.50</td>
            <td>1</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Cuzqueña</td>
            <td>Cerveza Cuzqueña</td>
            <td>Sí</td>
            <td>S/. 6.00</td>
            <td>1</td>
        </tr>
    </tbody>
</table>
