@model BARBARES_SistemaWeb.Models.Producto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section featured {
    <div class="masthead">
        <h3 class="text-muted">
            <img class="img-thumbnail img-responsive" src="~/images/botella-cabecera.jpg" alt="Barabares">Barabares - Sistema Administrador</h3>
        <ul class="nav nav-justified">
            <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
            <li>@Html.ActionLink("Personas", "Index", "Persona")</li>
            <li class="active">@Html.ActionLink("Productos", "Index", "Producto")</li>
            <li>@Html.ActionLink("Pedidos", "Index", "Pedido")</li>
            <li>@Html.ActionLink("Logística", "Index", "Almacen")</li>
            <li>@Html.ActionLink("Reportes", "Index", "Reporte")</li>
            <li>@Html.ActionLink("Administración", "Index", "Usuario")</li>
        </ul>
    </div>
    <p></p>
    <p></p>
    <div class="jumbotron">
        <div class="container">
            <h1>@ViewBag.Title</h1>
            <p>
                Detalle del registro seleccionado.
            </p>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col-sm-4 col-md-offset-profile">
            <img data-src="holder.js/200x200" alt="Generic placeholder image" class="img-product img-responsive" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-md-offset-4">
            <h2 class="text-center">Cerveza Pilsen</h2>
            <h3 class="text-center"><small><cite title="Source Title">Descripción de la Cerveza Pilsen <i class="glyphicon glyphicon-list"></i></cite></small></h3>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-list-alt"></i>
            <label for="unidad">Unidad:</label>
        </div>
        <div class="col-xs-3">
            <select class="form-control" id="unidad" disabled>
                <option>ml</option>
                <option>lt</option>
                <option>gr</option>
                <option>kg</option>
            </select>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-barcode"></i>
            <label for="presentacion">Presentación:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="presentacion" value="650" disabled>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2 col-md-offset-1">
            <i class="glyphicon glyphicon-warning-sign"></i>
            <label for="perecible">Perecible:</label>
        </div>
        <div class="col-xs-3">
            <input type="checkbox" id="perecible" value="true" disabled>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-usd"></i>
            <label for="precio">Precio Unitario:</label>
        </div>
        <div class="col-xs-3">
            <input type="number" class="form-control" id="precio" value="5.00" disabled>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="creacion">Fecha Creación:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="creacion" disabled>
        </div>
        <div class="col-xs-2">
            <i class="glyphicon glyphicon-calendar"></i>
            <label for="modificacion">Última Modificación:</label>
        </div>
        <div class="col-xs-3">
            <input type="date" class="form-control" id="modificacion" disabled>
        </div>
    </div>
</div>
<div class="container-form">
    <div class="row">
        <div class="col-xs-2  col-md-offset-1">
            <i class="glyphicon glyphicon-flag"></i>
            <label for="obs">Observaciones:</label>
        </div>
        <div class="col-xs-8">
            <textarea class="form-control" rows="3" id="obs" placeholder="Observaciones" disabled>Observaciones del producto</textarea>
        </div>
    </div>
</div>

<div class="container-buttons">
    <p>
        <a class="btn btn-success" href="~/Producto/Edit?id=@ViewBag.Tipo" role="button">Editar</a>
        <a class="btn btn-danger" href="~/Producto/Index" role="button">Cancelar</a>
    </p>
</div>
